<html>
    <style>
            body{
                font-family: 'Josefin Sans', sans-serif;
                background-color:#F8FAFA;
            }
            li{
                list-style: none;
                outline: unset;
                padding: 20px ;
                margin: 10px;
                background-color:#d6d6d6 ;
                border: transparent;
                border-radius: 3px;
                font-weight: bold;
                width: 300px;
            }
    </style>

    <head>
        <title>Home Page? >o.o> DSWEB</title>
    </head>
    <body>
        <h1> Disciplina DSWEB</h1>
        <figure>
            <img src="https://media1.tenor.com/m/6TdEhZ0g3WQAAAAd/dog-doggo.gif" alt="cachorro computador" style="width:250px;height:250px;">
        </figure>
        <h2> Aplicações criadas:</h2>
        <ol>
            <li><a href="/enquetes/" = > Aplicação de enquetes </a></li>
        </ol>
    </body>
</html>