{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'enquetes/css/resultado.css' %}">
        <title>App Enquetes</title>
    </head>
    <body>
        <h1>Resultado - DSWEB</h1>
        <h2>Enquete #{{ enquete.id }}</h2>
        <h3>Voto computado com sucesso!!!</h3>
        <figure>
            <img src="https://c.tenor.com/arqlNu8gyJYAAAAC/tenor.gif" alt="gato pulando feliz" style="height:300px;">
        </figure>
        <h2>{{ enquete.texto_perg }}</h2>
        <h3>{{ enquete.data_pub }}</h3>


        <p>Quantidade de votos por alternativas:</p>
            <ul>
                {% for alternativa in enquete.alternativa_set.all %}
                <li>
                    {{ alternativa.texto_alt }} ==> {{ alternativa.qtd_votos }}
                    voto{{ alternativa.qtd_votos | pluralize }}
                </li>
                {% endfor %}
            </ul>
        </form>
        <hr>
        <a href="{% url 'enquetes:detalhes' enquete.id %}"> Votar Novamente</a> |
        <a href="{% url 'enquetes:index'%}">Voltar</a>
    </body>
</html>