{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Bem vindo ao seu acervo pessoal {{ user.username }}</h2>
<figure>
    <img src="https://gifdb.com/images/high/surprised-emoji-reading-a-book-z6g8tfhysjh16poh.gif" alt="emoji lendo"
        style="width:250px;height:250px;">
</figure>
<h2>Livros Disponiveis</h3>

    <ul>
        <container>
            {% for livro in livros %}
            <li class="livro">
                {% if livro.foto_capa %}
                <img src="{{ livro.foto_capa.url }}" alt="{{ livro.nome }}" style="max-width: 200px;">
                {% else %}
                <p>Imagem não disponível.</p>
                {% endif %}
                <h3>{{ livro.nome }}</h3>
                <p>Autor: {{ livro.autor }}</p>
                <p style="font-size: 12px;">Ano: {{ livro.ano }}</p>
                {% if livro.disponivel %}
                <a href="{% url 'acervo:emprestar-livro' livro.id %}" class="btn">Disponível</a>
                {% else %}
                <a href="#" class="btn-danger">Indisponível</a>
                {% endif %}
            </li>
            {% empty %}
            <li>Não há livros registrados.</li>
            {% endfor %}
        </container>
    </ul>


    {% endblock %}