{% extends 'base.html' %}

{% block title %}Lista de Livros{% endblock %}

{% block content %}
<h2>Livros Registrados</h2>
<ul class="container_livros">
    <container>
        {% for livro in livros %}
        <li class="livro">
            <h3>{{ livro.nome }}</h3>
            <p>Autor: {{ livro.autor }}</p>
            <p>Ano: {{ livro.ano }}</p>
            <img src="{{ livro.foto_capa.url }}" alt="{{ livro.nome }}" style="max-width: 200px;">
            
            {% if livro.disponivel %}
                <a href="{% url 'acervo:emprestar-livro' livro.id %}">Pegar Emprestado</a>
            {% else %}
                <p>Indisponível (emprestado para {{ livro.contato_pessoal }})</p>
            {% endif %}
        </li>
        {% empty %}
        <li>Não há livros registrados.</li>
        {% endfor %}
    </container>
</ul>
{% endblock %}