{% extends 'base.html' %}

{% block title %}Lista de Livros{% endblock %}

{% block content %}
<h2>Livros Registrados</h2>
<ul class = "container_livros">
    {% for livro in livros %}
        <li class="livro">
            <h3>{{ livro.nome }}</h3>
            <p>Autor: {{ livro.autor }}</p>
            <p>Ano: {{ livro.ano }}</p>
            {% if livro.foto_capa %}
                <img src="{{ livro.foto_capa.url }}" alt="{{ livro.nome }}" style="max-width: 200px;">
            {% else %}
                <p>Imagem não disponível.</p>
            {% endif %}
        </li>
    {% empty %}
        <li>Não há livros registrados.</li>
    {% endfor %}
</ul>
{% endblock %}