{% extends 'base.html' %}

{% block title %}Lista de Livros{% endblock %}

{% block content %}

<h2><img src="https://www.animoticons.com/files/day-by-day/hobbies-smiley-faces/164.gif" alt="emoji lendo com um cafe"> Livros Registrados</h2>
<a href="#disponiveis" class="btn">Livros Disponiveis</a>
<a href="#indisponiveis" class="btn-danger">Livros Indisponiveis</a>
<ul class="container_livros">
    <container>
        {% for livro in livros %}
        <li class="livro">
            <img src="{{ livro.foto_capa.url }}" alt="{{ livro.nome }}" style="max-width: 200px;">
            <h3>{{ livro.nome }}</h3>
            <p>Autor: {{ livro.autor }}</p>
            <p style="font-size: 12px;">Ano: {{ livro.ano }}</p>
            {% if livro.disponivel %}
                <a href="{% url 'acervo:emprestar-livro' livro.id %}" class="btn">Pegar Emprestado</a>
            {% else %}
                <button class="btn-danger"> Indisponivel</button>
                <p>(emprestado para {{ livro.contato_pessoal }})</p>
            {% endif %}
        </li>
        {% empty %}
        <li>Não há livros registrados.</li>
        {% endfor %}
    </container>
</ul>
<h2 id="disponiveis">Livros Disponiveis✅</h2>
<ul class="container_livros">
    <container>
        {% for livro_disp in livros_disp %}
        <li class="livro">
            <img src="{{ livro_disp.foto_capa.url }}" alt="{{ livro_disp.nome }}" style="max-width: 200px;">
            <h3>{{ livro_disp.nome }}</h3>
            <p>Autor: {{ livro_disp.autor }}</p>
            <p style="font-size: 12px;">Ano: {{ livro_disp.ano }}</p>
            {% if livro_disp.disponivel %}
                <a href="{% url 'acervo:emprestar-livro' livro_disp.id %}" class="btn">Pegar Emprestado</a>
            {% else %}
                <button class="btn-danger"> Indisponivel</button>
                <p>(emprestado para {{ livro_disp.contato_pessoal }})</p>
            {% endif %}
        </li>
        {% empty %}
        <li>Não há livros registrados.</li>
        {% endfor %}
    </container>
</ul>
<h2 id="indisponiveis">Livros Indisponiveis❌</h2>
<ul class="container_livros">
    <container>
        {% for livro in livros_indisp %}
        <li class="livro">
            <img src="{{ livro.foto_capa.url }}" alt="{{ livro.nome }}" style="max-width: 200px;">
            <h3>{{ livro.nome }}</h3>
            <p>Autor: {{ livro.autor }}</p>
            <p style="font-size: 12px;">Ano: {{ livro.ano }}</p>
            {% if livro.disponivel %}
                <a href="{% url 'acervo:emprestar-livro' livro.id %}" class="btn">Pegar Emprestado</a>
            {% else %}
                <button class="btn-danger"> Indisponivel</button>
                <p>(emprestado para {{ livro.contato_pessoal }})</p>
            {% endif %}
        </li>
        {% empty %}
        <li>Não há livros registrados.</li>
        {% endfor %}
    </container>
</ul>
{% endblock %}